$font-1: 'Yellowtail', cursive;
$font-2: 'Lato', sans-serif;
$transition: all 1s;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0;
    background: #fff;
    Font-Family: $font-2;
    font-size: 16px;
    line-height: 1.7;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
}
.work-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 11px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: #f1c40f;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}
.section-title {
  color: black;
  padding-top: 50px;
}
.section-subtitle {
  color: black;
  font-family: $font-2;
  font-style: italic;
}
/* navigation */
.n-s-back {
    height: 100vh;
    position: relative;
    background-image: url('https://i.postimg.cc/ncPs58pT/splash.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.navigation {
    padding: 12px 0;
}
.tt {
    flex: 1;
    color: #f1c40f;
    text-align: left;
    font-family: $font-1;
}
.nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex: 1;
}
.navigation li {
    display: inline-block;
    flex-wrap: nowrap;
    margin: 0px 36px 0 0;
    position: relative;
}
.navigation a {
    color: #fff;
    text-decoration: none
}
.navigation ul ul li {
    display: block;
    margin: 0 0 12px 0;
    text-align: center;
}
.navigation ul ul {
    display: none;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
    padding-left: 0;
    width: 150px;
}
.navigation li:hover ul {
    display: block;
    position: absolute;
    background-color: rgba(192%, 192%, 192%, .3);
    border-radius: 10px;
}
.navigation ul ul a {
    color: #fff;
    display: block;
    padding: 0 24px;
}
.navigation ul ul a:hover {
    color: yellow;
}
/* splash */
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
}
.page-title {
  color: #fff;
  font-family: $font-1;
  font-size: 50px;
}
.page-subtitle {
  color: #fff;
  font-size: 80px;
}
.btn-one {
    border-color: #f1c40f;
    color: #fff;
    margin-top: 30px;
}
.btn-one:hover {
    background-position: 0 100%;
    transition: $transition;
    color: black;
}
/* service */
.services i {
    font-size: 40px;
    border: 3px solid #f1c40f;
    width: 80px;
    height: 80px;
    line-height: 40px;
    color: #f1c40f;
    border-radius: 50%;
    margin-right: 20px;
    padding-top: 15px;
    margin-bottom: 30px;
}
/* portfolio*/
.portfolio {
  background-color: #ecf0f1;
}
/* footer */
footer i {
    font-size: 20px;
    background-color: black;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    padding-top: 15px;
}
@media(max-width: 540px) {
    .navigation {
      height: 80px;
    }
    .navigation li:hover ul {
        background-color: #95a5a6;
        opacity: none;
        z-index: 10;
    }
    .page-title {
      font-size: 20px;
      margin-top: 30px;
    }
    .page-subtitle {
      font-size: 40px;
    }
    .container {
      width: 300px;
      margin: 0;
      margin-right: 0;
    }
}
